body {
background-color: ivory
}

.page {
    text-align: justify;
    margin: 3rem 10rem;
    font-family: monospace;
    font-size: 10px;
}

.pageBig {
    text-align: justify;
    margin: 3rem 10rem;
    font-family: monospace;
    font-size: 20px;
}

.btn-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    border-radius: 20%;
    border: 2px solid black;
    width: max-content;
    box-shadow: 5px 10px 18px #888888;
    margin: 20px
}

.prev {
    display: flex;
    justify-content: center;
    margin: auto;
}

.next {
    display: flex;
    justify-content: center;
    margin: auto;
}

